header {
    background-color: hsl(218, 57%, 20%);
    font-size: 10px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0;
  


}
#pip{
	white-space: nowrap;
	text-align: center;
	font: 18px arial;
	padding: 20px;
}
 #pp {
       display: inline-block;
       box-sizing: border-box;
       float: left;
       /*position: absolute;*/
       text-decoration: none;
       list-style-type: none;
       margin: 20px;
       
       
    }
 a{
 	text-decoration: none;
 	color: white;
 	padding: 30px;
 }
#banner{
	position: relative;
}
#banner img {
	max-width: 100%;
}
#banner .welcome {

	position: absolute;
	left: 0px;
	top: 20%;
	background-color: hsl(227, 38%, 6%);
	color : white ;
	padding: 10px;
	font-family: sans-serif;
	
}
#banner .welcome h2 {
	font-size:50px;
}
#banner .welcome span {
	font-size: 40px;
}
#countdown{
	background-color: rgb(100%,75.69%,2.75%);
	text-align: center;
	font-size: 3em;
	font-family: fantasy;
	max-width: 100%;
	white-space: nowrap;
}

 p {
	font-size: 0.5em;
	padding-right: 50px;

}
.cdown-days{
	display: inline-block;
	background-color: rgb(100%,75.69%,2.75%); 
	color: hsl(227, 38%, 6%);
	padding: 20px;
}
.cdown-hours{
	display: inline-block;
	background-color: rgb(100%,75.69%,2.75%);
	color: hsl(227, 38%, 6%);
	padding: 20px;
}
.cdown-minutes{
	display: inline-block;
	background-color: rgb(100%,75.69%,2.75%);
	color:hsl(227, 38%, 6%);
	padding: 20px;
}
.cdown-seconds{
	display: inline-block;
	background-color: rgb(100%,75.69%,2.75%);
	color: hsl(227, 38%, 6%);
	padding: 20px;
	

}
.pt{
	padding-left: 50px;
	
}
#wlc{
	box-sizing: border-box;
	background-color: hsl(194, 1%, 97%);
	max-width: 100%;
	position: relative;
	text-align: center;
	padding: 50px;
}
#detail{
	background-color: white;
	width: 50%;
	text-align: left;
	top: 25%;
	left: 40%;
    padding: 25px;
	position:relative;
	margin: 50px;


}
.Committee{
	text-align: center;
	padding: 50px;
}
.SCHEDULE{
	text-align: center;
	padding: 50px;
	margin:15%;
	width: 70%;
}
.format{
	left:50px;
}
table{
	border-collapse: collapse;
	letter-spacing: 1px;
	margin: 30px;
}
th, td{
	border: 1px ;
	padding: 30px;
}
th{
	font-weight: bold;
	font: 1.5em verdana;
}
td{
	font-size: 1.5em;
}
caption{
	padding: 30px;
	color: #050C5E;
	font: 2em Garamond;
    font-weight: bold;

}
table tbody tr:nth-child(even) {
    background-color:#DCDCDC; 
}

#section4{
	
	
	margin: 50px;
}

.contact{
	box-sizing: border-box;
	width: 60%;
	margin: 20px;
	float: left;
}
.info{
  box-sizing: border-box;
  margin: 20px;
  width: 25%;
  float: right;
}
#nom{

	width: 30%;
	height: 20px;
	padding: 12px 20px;
	margin: 20px 20px 20px 0px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#cont{

	box-sizing: border-box;
	padding: 20px;
}
input{

	border: 1px ;
	border-radius: 5px;
	background-color:#D3D3D3;
}
li{

	list-style-type: none;
	font-family: verdana;
	padding: 10px;

}
#section5{

	clear: left; 
}